@import url(./fonts.css);

/* --------------------通用 START------------------ */
* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: none;
}

span {
  text-align: left;
}

p{
  text-align: left;
}

.font-w {
  font-weight: bold;
}

.text-l {
  text-align: left;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

/* --------------------通用 END-------------------- */

/* --------------------字号 START------------------ */
.font-S24 {
  font-size: 24px;
}

.font-S26 {
  font-size: 26px;
}

.font-S28 {
  font-size: 28px;
}

.font-S30 {
  font-size: 30px;
}

.font-S32 {
  font-size: 32px;
}

.font-S34 {
  font-size: 34px;
}

.font-S36 {
  font-size: 36px;
}

.font-S38 {
  font-size: 38px;
}

.font-S40 {
  font-size: 40px;
}

.font-S42 {
  font-size: 42px;
}

/* --------------------字号 END-------------------- */

/* --------------------字体 START------------------ */
.font-fa-Noto {
  font-family: "Noto Sans SC";
}

.font-fa-NotoTC {
  font-family: "Noto Sans SC";
}

.font-fa-ZCOO {
  font-family: "ZCOOLXiaoWei";
}

.font-fa-cher {
  font-family: "CherryBombOne";
}

.font-fa-Chok {
  font-family: "Chokokutai";
}

.font-fa-Geol {
  font-family: "Geologica";
}

/* --------------------字体 END-------------------- */